{% extends "base.html" %}

{% block content %}
<h1 class="text-3xl font-bold mb-6">{{ subject.name }} Exam</h1>
<form method="POST" action="{{ url_for('submit_exam') }}">
    <input type="hidden" name="subject_id" value="{{ subject.id }}">
    <input type="hidden" name="questions" value='{{ questions|tojson|safe }}'>
    
    
    
    {% for question in questions %}
    {% set p_id = loop.index %}

    <div class="mb-6 bg-white rounded-lg shadow-md p-6">
        <h2 class="text-xl font-semibold mb-4">Question {{ loop.index }}</h2>
        <p class="mb-4">{{ question.question }}</p>
        <div class="space-y-2">
       
            {% for option in question.options %}
                <div>
                    <input type="radio" id="q{{ p_id }}__{{loop.index0}}" name="q{{ p_id }}"
                        value="{{ ['A', 'B', 'C', 'D'][loop.index0] }}" required>
                    <label for="q{{ p_id }}__{{loop.index0}}">{{ option }}</label>
                </div>
            {% endfor %} 
        
        </div>
    </div>
    {% endfor %}
    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Submit
        Exam</button>
</form>
{% endblock %}