{% extends "base.html" %}

{% block content %}
<div>
    <div class="max-w-7xl mx-auto py-8 px-4 sm:py-8 sm:px-6 lg:px-8">
        <div class="text-center">
            <h1 class="text-4xl font-extrabold">
                {{ subject.name }}
            </h1>

        </div>
    </div>
</div>

<div class="grid grid-cols-2 gap-4">
    <a href="{{ url_for('exam_setup', subject_id=subject.id) }}"
        class=" border border-gray-200 rounded-lg p-4 text-center">
        <h3 class="text-xl font-semibold">Full Subject Exam</h3>
    </a>
    {% for chapter in subject.chapters %}
    <a href="{{ url_for('exam_setup', subject_id=subject.id, chapter_id=chapter.id) }}"
        class="border border-gray-200 rounded-lg p-4 text-center">
        <h3 class="text-xl font-semibold">{{ chapter.name }}</h3>
    </a>
    {% endfor %}
</div>
{% endblock %}